DJANGO_SECRET_KEY= # Ваш секретный ключ Django
DJANGO_DEBUG= # Режим дебага (True/False)

DB_NAME= # Название базы данных
DB_USER= # Имя пользователя базы данных
DB_PASSWORD= # Пароль пользователя базы данных
DB_HOST= # Адрес базы данных
DB_PORT= # Порт базы данных

BASE_SERVER_URL= # Адрес Вашего сервера

CELERY_BROKER_URL= # Адрес брокера сообщенией для Celery
CELERY_RESULT_BACKEND= # Адрес брокера для получения результатов для Celery

BOT_TOKEN= # API-токен Вашего телеграмм бота